.joke {
    border: 1px solid #4488ff88;
    padding: 10px;
    margin: 12px;
    border-radius: 6px;
    background-color: purple;
    color: white;
}

.joke-question {
    font-weight: bold;
}

.joke-answer {
    font-style: italic;
}
